@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root{
    --font-salsa--:"Salsa";
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-salsa--)
}
